{% extends 'data_upload_app/base.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" >
    <div class="row justify-content-md-center bg-light">
        Hi! My name is Rajiv. I work in Cloud Sales. My fascination with Machine Learning led me to teach myself Python during the weekends.
        I have built this platform so that business users can generate their ML models without writing a single line of code. 
        If you have found this useful or would like to share some feedback, do drop me a line.

    </div>
</div>
{% endblock %} 