{% extends 'data_upload_app/base.html' %}
{% block content %}
<div class="container" align="center">
    <h1> Welcome to The Data Insights Platform FAQ</h1> <br> 
</div>
<div class="d-flex justify-content-start">
    Q. What is this platform?<br>
    Ans. The platform is for the business user who wants to leverage ML but does not have the time to code. 
</div>
<br>
<div class="d-flex justify-content-start">
    Q. How do I use it?<br>
    Ans. For example, you want to predict the price of a house. Take the data that you have and put it in an excel file. Put all the factors that you think are responsible for the price of the house like size, age etc. The last column should contain the price of the house. Save this as a .csv file.
        Now, upload your file for generating the model. 
</div>
<div class="d-flex justify-content-start">
    DISCLAIMER<br>
    This is a side project. I accept no liability whatsoever for the reliability and performance of Data Insights Platform." 
</div>
<br>
{% endblock %} 